.projectInfo {
    display: flex;
    justify-content: flex-start;
    position: sticky;
    background-color: #ffffff;
    z-index: 100;
    margin-left: 30px;
}

.projectInfo > h4 {
    display: flex;
    align-items: center;
}

.projectInfo__users {
    display: flex;
    align-items: center;
}

.projectInfo__users .MuiAvatar-root.MuiAvatar-circle {
    border: #ffffff 2px solid;
}

.projectInfo__users :nth-child(2) {
    left: -10px !important;
}

.projectInfo__users :nth-child(3) {
    left: -20px !important;
}

.projectInfo__users .MuiSvgIcon-root {
    margin-left: -22px;
}