.sidebar {
    border-right: 1px #b7b7be solid;
    height: 100vh;
}

.sidebar__logo {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    width: 100%;
}
