.todo {
    margin: 10px;
    max-width: 22.97%;
    background-color: #F5F8FA;
    height: auto;
    padding: 20px;
    border-radius: 7px;
    border-top: #8E8B8B 3px solid;
    box-shadow: 7px 7px 8px -9px rgba(0, 0, 0, 0.75);
}